
        ul{
            list-style-type: none;  
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
        }
        li{
            display:inline;
            float: left;
        }
        
        li a{
            display:block;
            padding:14px 50px;
            border-right: 1px solid white;
            color: white;
            text-decoration:none
        }
        li a:hover{
            background-color: red;
        }